<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <title>Login page</title>
        <%- include('./css/style'); %>

    </head>
    <body>
        <div class = "container">
            <div class="formtitle"> 
                Login:
            </div>
                <form method="POST" action="/login" enctype="multipart/form-data">
                    <div class="user-dets">
                        <div class="input">
                            <span class = "details"> Email</span>
                            <input type="email" placeholder="input email here" name="email" required>
                        </div>
                        <div class="input">
                            <span class="details"> Password </span>
                            <input type="password" placeholder="input password here" name="password" required>
                        </div>
                        <div class="button">
                            <input type="submit" value="login">
                        </div>
                    </div>  
                </form>
            
            <p>Dont have an account yet?</p>
            <p>register <a href="/register"> here</a></p>
        </div>
    </body>
</html>